@import url("../libs/css/annotator.css");
body {
    background-color: #fff;
    text-align: left;
}
.rank {
  direction: rtl;
  unicode-bidi: bidi-override;
}
.rank > span:hover:before,
.rank > span:hover ~ span:before {
   content: "\2605";
   color: blue;
   position: absolute;
}