adium-theme-ubuntu==0.3.4
alembic==0.8.6
annotator==0.14.2
apt-xapian-index==0.45
blinker==1.3
cffi==1.5.2
Chameleon==2.24
chardet==2.0.1
colander==1.2
colorama==0.2.5
command-not-found==0.3
contextlib2==0.5.1
cryptacular==1.4.1
cryptography==1.3.1
debtagshw==0.1
defer==1.0.6
deform==0.9.9
deform-jinja2==0.5
dirspec==13.10
duplicity==0.6.23
elasticsearch==1.9.0
enum34==1.1.3
functools32==3.2.3.post2
gevent==1.0.2
gnsq==0.3.2
greenlet==0.4.9
gunicorn==19.4.5
gyp==0.1
h==0.8.14
html5lib==0.999
httplib2==0.8
idna==2.1
ipaddress==1.0.16
iso8601==0.1.11
itsdangerous==0.24
Jinja2==2.6
jsonpointer==1.0
jsonschema==2.5.1
lockfile==0.8
lxml==3.3.3
Mako==1.0.4
Markdown==2.3.1
MarkupSafe==0.23
oauthlib==0.6.1
oneconf==0.3.7
PAM==0.4.2
PasteDeploy==1.5.2
pbkdf2==1.3
pbr==1.8.1
peppercorn==0.5
pexpect==3.1
Pillow==2.3.0
piston-mini-client==0.7.5
psycogreen==1.0
psycopg2==2.6.1
pyasn1==0.1.9
pycparser==2.14
pycrypto==2.6.1
pycups==1.9.66
pycurl==7.19.3
Pygments==2.1.3
pygobject==3.12.0
pygpgme==0.3
PyJWT==1.4.0
pyOpenSSL==0.13
pyramid==1.5.8
pyramid-chameleon==0.3
pyramid-debugtoolbar==2.4.2
pyramid-jinja2==2.6.2
pyramid-mailer==0.14.1
pyramid-mako==1.0.2
pyramid-tm==0.12.1
pyramid-webassets==0.9
pyserial==2.6
pysmbc==1.0.14.1
python-apt==0.9.3.5
python-dateutil==2.5.2
python-debian===0.1.21-nmu2ubuntu2
python-editor==1.0
python-slugify==1.1.4
python-statsd==1.7.2
pyxdg==0.25
PyYAML==3.10
raven==5.10.2
reportlab==3.0
repoze.lru==0.6
repoze.sendmail==4.1
requests==2.9.1
scaffold==0.0
scaffold2==0.0
scaffold3==0.0
sessioninstaller==0.0.0
six==1.10.0
software-center-aptd-plugins==0.0.0
SQLAlchemy==1.0.12
ssh-import-id==3.21
stevedore==1.11.0
system-service==0.1.6
transaction==1.4.4
translationstring==1.3
Twisted-Core==13.2.0
Twisted-Web==13.2.0
unicodecsv==0.14.1
Unidecode==0.4.19
unity-lens-photos==1.0
urllib3==1.15.1
venusian==1.0
virtualenv==14.0.6
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
waitress==0.9.0b0
webassets==0.10.1
WebOb==1.6.0
ws4py==0.3.4
wxPython==2.8.12.1
wxPython-common==2.8.12.1
xdiagnose===3.6.3build2
yolk==0.4.3
zope.deprecation==4.1.2
zope.interface==4.0.5
zope.sqlalchemy==0.7.6