{% set rss_feed_url = base_url + "feed/" %}

{% extends "h:templates/layouts/base.html.jinja2" %}

{% block title %}Annotran | Translate by annotating.{% endblock %}

{% block meta %}
  {{ super() }}
  <link rel='canonical' href='{{ base_url }}'>
  <link rel="chrome-webstore-item"
        href="{{ chrome_extension_link }}">
  <link href="{{ rss_feed_url }}" rel="alternate" type="application/rss+xml">
{% endblock %}

{% block styles %}
  {% assets "front_page_css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}

{% block content %}
  <style>
    .press-release-banner {
      background-color: #87CEEB;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    .press-release-banner > p {
      font-size: 21px;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
    }
  </style>
  <header class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ base_url }}">
          Annotran
        </a>
      </div>
      <nav class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-right login">
          {% if username %}
            <li><a href="{{ user_profile_link }}">{{ username }}</a></li>
            <li><a href="{{ request.route_url("logout") }}">Sign out</a></li>
          {% else %}
            <li><a href="{{ base_url }}login">Sign in</a></li>
            <li><a href="{{ base_url }}register">Create an account</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>

  <div class="wrap container" role="document">
    <div class="content row">
      <main class="main">
        <div class="jumbotron">
          <div class="row">
            <div class="col-sm-12 call-to-action">
              <h2>Translate with anyone, anywhere</h2>
              <p>
                Annotran uses the annotation technology of <a href="http://hypothes.is">hypothes.is</a> to allow anyone to translate a web page.
              </p>
              <p>Annotran is developed by the <a href="https://www.openlibhums.org">Open Library of Humanities</a>
                    at <a href="http://www.bbk.ac.uk">Birkbeck</a> with generous support from the Andrew W. Mellon Foundation.
              </p>

                <p><b>Please note: Annotran is currently in a public alpha phase. We give no guarantees that your translations will not be deleted.</b></p>

              <p>
                Use
                  <a href="#" class="" data-toggle="modal" data-target="#bookmarklet">
                  bookmarklet
                </a>
                  to add Annotran launch feature to your browser.
              </p>


              <div class="modal fade" id="bookmarklet" tabindex="-1"
                    role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close"
                              data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <h4 class="modal-title">Bookmarklet</h4>
                    </div>
                    <div class="modal-body">
                      <div>
                        <a title="Drag me to the bookmarks bar"
                            data-bookmarklet-button=""
                            class="btn btn-primary btn-lg installer__button--draggable"
                            href="javascript:(function(){window.hypothesisConfig=function(){return{showHighlights:true};};var d=document,s=d.createElement('script');s.setAttribute('src','{{ request.route_url("embed") }}');d.body.appendChild(s)})();"
                            onclick="alert('Drag me to the bookmarks bar');return false;">Launch Annotran
                        </a>
                        <p><i class="h-icon-move"></i> Drag the button into
                        your bookmarks bar then click it to launch the
                        Annotran application.</p>
                        <p>Alternatively, right click and select
                        "bookmark this link."</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </main>
  </div>
  </div>

{% endblock %}

{% block scripts %}
  {% assets "front_page_js" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}