<!--
'''
Copyright (c) 2013-2014 Hypothes.is Project and contributors

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
'''
!-->

{% extends "../../../h/h/templates/layouts/base.html.jinja2" %}

{% block title %}Annotran | Community Guidelines.{% endblock %}

{% block styles %}
  {% assets "help_page_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
    <style>
        li {
            list-style: circle;
            margin-left: 25px;
        }
    h1, h2, h3 {
        font-weight: bold;
    }
    </style>
{% endblock %}

{%  block content %}
  <div class="help-page">
    <div class="help-page-content masthead-small">
      {% include "includes/logo-header.html.jinja2" %}
    </div>
    <article class="help-page-content">
        <section class="help-page-section">
            <h1>Annotran Privacy Policy</h1>
            <p>Annotran cares about your privacy and does not share your personal data with anyone.</p>
        </section>
        <section class="help-page-section">
            <h3 id="userinfo">User Information</h3>
            <p>We keep a fairly limited amount of information in the user table: username, email and last login date. We have optional fields for a display name, location and a description on your profile.</p>
            <p>Access to this information is restricted to system administrators. The Annotran staff has limited access to user data for support purposes (email, username, active status, number of translations, group membership)</p>
        </section>
        <section class="help-page-section">
            <h3 id="cookies">Cookies</h3>
            <p>Annotran may place a number of cookie files on your web browser. By using the service you consent to the use of cookies.</p>
            <p>Cookies are small pieces of text sent to your web browser by a website you visit. A cookie file is stored in your web browser and allows our service to recognize you and make your next visit easier and more useful.  </p>
            <p>If you'd like to delete cookies or instruct your web browser to delete or refuse cookies, please visit the help pages of your web browser. Please note, however, that if you delete cookies or refuse to accept them, you might not be able to use all of the features we offer, you may not be able to store your preferences, and some of our pages might not display properly.</p>
            <p><a href="http://www.allaboutcookies.org/" target='_blank'>More about cookies.</a></p>
        </section>
        <section class="help-page-section">
            <h3 id="userdata">Handling user data</h3>
            <p>User passwords are salted and hashed using the industry standard “bcrypt” algorithm. No Annotran staff member has access to user passwords.</p>
            <p>We retain user IP address information and request information for a strictly limited period (2 weeks) for diagnostic purposes only.  We also collect some information about your activities in our application from the client, for logging purposes and statistics.</p>
            <p>On third parties:
                <ul class="list">
                    <li>We use Sentry to track errors that occur within our software. User IP address information and usernames may be sent to Sentry for diagnostic purposes. Sentry’s privacy policy: <a href="https://getsentry.com/privacy/" target="_blank">https://getsentry.com/privacy/</a>.</li>
                    <li>We use Google Analytics for our extension and website. Google analytics privacy policy: <a href="https://www.google.com/policies/privacy/partners/" target="_blank">https://support.google.com/analytics/answer/6004245?hl=en</a></li>
                    <li>We use Mailchimp for user communications, including registration, email replies and our newsletter. Mailchimp Privacy Policy: <a href="https://mailchimp.com/legal/privacy/" target="_blank">https://mailchimp.com/legal/privacy/</a></li>
                </ul>

            <p>Annotran doesn’t share user information with advertisers, affiliates or partners.  We do not monetize our customer traffic in any way.</p>
        </section>
        <section class="help-page-section">
            <h3 id="accesstoannotations">Access to translation data</h3>
            <p>There are a few ways in which translations are available to other users:</p>

            <ul class="list">
                <li>Translations made in the public channel are visible to every Annotran user</li>
                <li>Translations made in groups are only visible to group members</li>
                <li>Translations published for “Only Me” are only visible to the person who made the translation</li>
            </ul>

            <p>The same applies to our API users: authenticated users can only retrieve translations for which they have the right permissions.  Unauthenticated users can only retrieve public translations.</p>

            <p>With respect to Annotran staff, a small number of engineering staff have database access that lets them see any translations or profile data in your account.</p>
        </section>
        <section class="help-page-section">
            <h3 id="contact">Contact with users</h3>
            <p>We send account registration, activation and password reset notifications via email. We also send event notifications such as about replies to translations via email, with the option to opt-out.  In the future we may also send information about important service updates or substantial changes in Privacy Policy or our Terms of Service.</p>
        </section>
        <section class="help-page-section">
            <h3 id="consent">Consent</h3>
            <p>By using Annotran and this website, you consent to this Privacy Policy.</p>
        </section>
        <section class="help-page-section">
            <h3 id="changes">Changes to the Privacy Policy</h3>
            <p>If we decide to change our privacy policy, we will post those changes on this page, and/or update the Privacy Policy modification date below.</p>
            <p><strong>Updated:</strong> October 10, 2016</p>
        </section>
    </article>
  </div>
{% endblock %}}