<!--
'''
Copyright (c) 2013-2014 Hypothes.is Project and contributors

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
'''
!-->

{% extends "h:templates/layouts/base.html.jinja2" %}

{% block page_title %}{{ group.name }}{% endblock page_title %}

{% block styles %}
  {% assets "site_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}

{% block content %}
  <div class="content content--narrow">
    <div class="group-form is-member-of-group">
      <i class="h-icon-group group-form__heading-icon"></i>
      <div class="group-form__heading--short">{{ group.name }}</div>
      {% if document_links %}
        <a href="{{ request.route_url('stream') }}?q=group:{{ group.pubid }}"
           target="_blank"
           title="Recent translations in this group">
           View recent group translations</a>
      {% else %}
        <p class="group-form__nocontent-text">This group has not shared any translations yet.</p>
      {% endif %}
    </div>
    {% if document_links %}
    <div class="group-document-list">
        <ul class="group-document-list__list">
        <p class="group-document-list__heading">Group documents:</p>
          {% for document_link in document_links %}
            <li>{{ document_link }}</li>
          {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div class="group-form-footer">
      <div class="group-form-footer__explain-text">
        {% include "about-groups.html.jinja2" %}

        <p class="group-form-footer__heading">You can</p>
        <ol class="group-form-footer__list">
          <li>Translate any web resource privately within the group.</li>
          <li>Restrict the translations shown for a web resource to only those
              belonging to the group.</li>
          <li>Invite anyone to join the group using the link below:</li>
        </ol>
        <input class="share-link-field" value="{{ group_url }}">
        <a href="//twitter.com/intent/tweet?url={{ group_url }}"
           target="_blank"
           title="Tweet link"
           class="share-link-icon h-icon-twitter"></a>
        <a href="//www.facebook.com/sharer/sharer.php?u={{ group_url }}"
           target="_blank"
           title="Share on Facebook"
           class="share-link-icon h-icon-facebook"></a>
        <a href="//plus.google.com/share?url={{ group_url }}"
           target="_blank"
           title="Post on Google Plus"
           class="share-link-icon h-icon-google-plus"></a>
        <a href="mailto:?subject=Invite to join the translation group {{group.name}}&amp;body={{ group_url }}"
           title="Share via email"
            class="share-link-icon h-icon-mail"></a>
      </div>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
{% assets "site_js" %}
  <script src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock scripts %}
