.rank {
    direction: rtl;
    unicode-bidi: bidi-override;
    text-align: left;
}
.rank > span:hover:before,
.rank > span:hover ~ span:before {
    content: "\2605";
    color: blue;
    position: absolute;
}