{% extends "h:templates/layouts/admin.html.jinja2" %}

{% set page_id = 'index' %}
{% set page_title = 'Administration pages' %}

{% block content %}
  <p>
    This is the annotran administration console.
  </p>
{% endblock %}
