{% extends "h:templates/layouts/admin.html.jinja2" %}

{% set page_id = 'reports' %}
{% set page_title = 'Abuse Reports' %}

{% block content %}
  <p>
    The following translations have been reported as abusive. Please review these and decide what action to take.
  </p>
  <p>
    <strong>N.B.</strong> your changes will take effect immediately when you
    save.
  </p>
  <div class="table-responsive">
    <form method="POST">
      <input
        type="hidden"
        name="csrf_token"
        value="{{ request.session.get_csrf_token() }}">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Page</th>
            <th>User</th>
            <th>Reporting user</th>
            <th style="width:10%">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for translation in reports %}
          <tr>
            <td>
              {{ translation.url }}
            </td>
            <td>
              {{ translation.author }}
            </td>
            <td>
              {{ translation.reporter }}
            </td>
            <td>
              <a href="/admin/view/translation/{{ translation.url_encoded }}/{{ translation.group }}/{{ translation.language }}/{{ translation.author }}/{{ translation.id }}">View report</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </form>
  </div>
{% endblock %}
