<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<div id="google_translate_element"></div>
<script>
     function googleTranslateElementInit() {
         var gTe = null, gTeDE = null;
         gTe = new google.translate.TranslateElement({}, 'google_translate_element');
         gTeDE = document.getElementById('google_translate_element');
         var event;
         if(document.createEvent) {
             event = document.createEvent('HTMLEvents');
             event.initEvent('change', true, true);
             gTeDE.dispatchEvent(event);
         } else {
             event = document.createEventObject();
             event.eventType = 'change';
             gTeDE.fireEvent('on' + event.eventType, event);
         }
         gTeDE.addEventListener('change', function(){
             console.log(jQuery(".goog-te-combo").get(0).options[0].text);
         });
    }
</script>


