<div class="sheet" ng-if="vm.showSidebarTutorial() && auth.status === 'signed-in'">
  <i class="close h-icon-close" role="button" title="Close"
     ng-click="vm.dismiss()"></i>
  <h1 class="sidebar-tutorial__header">How to get started</h1>
  <ol class="sidebar-tutorial__list">
    <li class="sidebar-tutorial__list-item">
      <p class="sidebar-tutorial__list-item-content">
       To add your own translation in a new language for a selected group, expand a language list above by clicking "Select Language" and adding a new language to a list of available translations.
        Then, follow the instructions in the "Translation Options" below.
      </p>
    </li>
    <li class="sidebar-tutorial__list-item">
      <p class="sidebar-tutorial__list-item-content">
        To add your own translation into the list of available translations for a selected group and a language above, follow the instructions in the "Translation Options" below.
      </p>
    </li>
    <li class="sidebar-tutorial__list-item">
      <p class="sidebar-tutorial__list-item-content">
        To view available translations or edit your own translations select a group and a language above, and follow the instructions in the "Translation Options" below.
      </p>
    </li>
    <li class="sidebar-tutorial__list-item">
      <p class="sidebar-tutorial__list-item-content">
        In "Translation Options" there are two modes available: edit and view. In edit mode you can add or change your own translations. In view mode you can view all available translations.
      </p>
    </li>
    <li class="sidebar-tutorial__list-item">
      <p class="sidebar-tutorial__list-item-content">
        When viewing a translation, hover over text to see the original version.
      </p>
    </li>
  </ol>
</div>
