<div class="sheet" ng-if="vm.showSidebarTutorial()">
  <i class="close h-icon-close" role="button" title="Close"
     ng-click="vm.dismiss()"></i>
  <h1 class="sidebar-tutorial__header">How to get started</h1>
  <ol class="sidebar-tutorial__list">
    <li class="sidebar-tutorial__list-item">
      <p class="sidebar-tutorial__list-item-content">
        To view an existing translation, select a group and language above.
      </p>
    </li>
    <li class="sidebar-tutorial__list-item">
      <p class="sidebar-tutorial__list-item-content">
        To create a new translation in an existing language, select a group and language and click "New Translation".
      </p>
    </li>
    <li class="sidebar-tutorial__list-item">
      <p class="sidebar-tutorial__list-item-content">
        To create a new translation in a new language, select a group and then click "New Translation" in the language list.
      </p>
    </li>
    <li class="sidebar-tutorial__list-item">
      <p class="sidebar-tutorial__list-item-content">
        To move through the document sentence-by-sentence when writing a translation, click the "lock" button when selecting text.
      </p>
    </li>
    <li class="sidebar-tutorial__list-item">
      <p class="sidebar-tutorial__list-item-content">
        When viewing a translation, hover over text to see the original version.
      </p>
    </li>
  </ol>
</div>
