<div class="sheet" ng-if="vm.auth.status === 'signed-in' ||
    (vm.auth.status === 'signed-out' &&
    (languages.getLanguageList() != undefined
    && languages.getLanguageList().length != 0))">
  <div class="form-vertical">
    <ul class="nav nav-tabs">
      <li class="active"><a href="">Translation Options</a></li>
       <ol class="sidebar-tutorial__list">
        <li class="sidebar-tutorial__list-item">
          <p class="sidebar-tutorial__list-item-content">
            There are two available modes: edit and view.
          </p>
        </li>
        <li class="sidebar-tutorial__list-item">
          <p class="sidebar-tutorial__list-item-content">
            In edit mode you can edit or change your own translations.
          </p>
        </li>
        <li class="sidebar-tutorial__list-item">
          <p class="sidebar-tutorial__list-item-content">
            In view mode you can view all available translations.
          </p>
        </li>
      </ol>
    </ul>
    <div class="tab-content">
      <div ng-if="languages.getLanguageList().length == 0 || languages.getLanguageList() == undefined">
        <p>Before you can create or view a translation, you must select or add a language above.</p>
      </div>
      <div ng-if="languages.getLanguageList().length > 0">
        <p><span ng-if="vm.auth.status === 'signed-out'">Sign in to write your own translation.</span>
          <span ng-if="vm.auth.status === 'signed-in'">
          <a href="#" ng-click="setUserForEdit()" id="selfEdit">Start, edit</a>, or <a href="#" ng-click="setUser('self')">view</a> your own translation.
        </span>
        </p>
        <p><span ng-if="vm.auth.status === 'signed-in'">You can also <a href="#" ng-click="toggleSentence()">turn {{sentenceMode}} sentence-by-sentence mode</a> or </span>
          <a href="#" ng-click="setUserForReset()">
            <span ng-if="vm.auth.status === 'signed-in'">v</span><span ng-if="vm.auth.status != 'signed-in'">V</span>iew the original document
          </a>.
        </p>
        <div ng-if="$root.list_of_users.length > 0">
          <hr/>
          <p><b>Select a user below to view a translation of this page:</b></p>
          <p ng-if="$root.direction == 1">
            Sort by score: <a ng-click="reverseUserList(0)" href="#">descending</a>
          </p>
          <p ng-if="$root.direction == 0 || $root.direction == undefined">
            Sort by score: <a ng-click="reverseUserList(1)" href="#">ascending</a>
          </p>
          <ul class="user-list">
            <li class="user-item" ng-repeat="user in $root.list_of_users">
            <span ng-if="$root.currentUser != 'acct:' + user.author.username + '@' + user.author.provider">
              <a href="#" ng-click="setUser(user.author)">{{user.author.username}}</a>
              <a href="#" ng-click="vote(user.author)" ng-init="showVote(user.author, user.score)">
                <stars starscore="user.score"></stars>
              </a>
            </span>
              <div ng-if="author == user.author && vm.auth.status === 'signed-in'" class="votelist">
                Rate {{user.author.username}}'s translation by clicking on a star:
               <ul class="vote-list">
                <li class="vote-item" ng-repeat="score in [5,4,3,2,1] | filter:voteAuthor(user.author)">
                  <a href="#" ng-click="addVote(user.author, score)">
                    <stars starscore="score"></stars>
                  </a>
                </li>
               </ul>
                Or: <a href="#" ng-click="addReport(user.author)">report this translation as abusive</a>.
              </div>
              </span>
            <span ng-if="$root.currentUser == 'acct:' + user.author.username + '@' + user.author.provider">
              <a href="#" ng-click="setUser('self')">
                {{user.author.username}}
              </a>
              [or <a href="#" ng-click="setUser(user.author)">edit your own translation</a>]
              <stars starscore="user.score"></stars>
            </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
